@import 'bootstrap-variables';
@import 'variables';
@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'custom';
body {
    padding-top: 100px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: $screen-sm) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: $screen-md) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: $screen-lg) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.bg-clouds {
    background-image: url(../img/foret4_mix.jpg);
    background-attachment: fixed;
}

.bg-foret {
    background-image: url(../img/foret3.jpg);
    background-attachment: fixed;
}

.cont-acceuil {
    background-image: url(../img/kerautret.jpg)
}

.icon-offre {
    padding: 20px;
    border-radius: 50%;
    background-color: $green;
}

// TYPE
a,
span,
p {
    font-weight: 100;
}

small,
.small {
    font-weight: inherit !important;
}

.text-white {
    color: #fff
}

.semi-strong,
semi-strong {
    font-weight: 500 !important;
}

// NAVBAR
#header_logo {
    padding: 0;
    img {
        height: 100px;
        @include transition(height $duree_transition $transition_timing_function);
    }
}

.top-nav-collapse {
    min-height: 60px;
}

.navbar {
    @include transition(all $duree_transition $transition_timing_function);
}

.top-nav-collapse #header_logo img {
    height: $navbar-height-reduite;
}

.top-nav-collapse li a {
    padding-top: $navbar-padding-reduite !important;
    padding-bottom: $navbar-padding-reduite !important;
    @include transition(padding $duree_transition $transition_timing_function);
}

nav {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    a {
        text-transform: uppercase;
        font-weight: bold;
    }
}

@media(min-width:1000px) {
    .top-nav-collapse {
        padding: 0;
    }
    .intro-section {
        padding: 125px 0;
        text-align: center;
        background: #fff;
    }
    .about-section {
        height: 100%;
        padding-top: 150px;
        text-align: center;
        background: #eee;
    }
    .services-section {
        height: 100%;
        padding-top: 150px;
        text-align: center;
        background: #fff;
    }
    .contact-section {
        height: 100%;
        padding-top: 150px;
        text-align: center;
        background: #eee;
    }
}

// BUTTONS
.btn {
    text-transform: uppercase;
    opacity: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
}

.btn:hover {
    opacity: .8;
}

// ACCEUIL
#acceuil {
    background-image: url(../img/bg1.jpg);
    h1 {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
}

// CONCEPT
.concept-section-acceuil {
    background-color: $light-gray;
}

.img-concept {
    max-height: 60px;
}

// BENEFICES
.benefices-section-entreprises {
    background-color: $light-gray;
}

// TAB
.nav-tabs-justified>.active>a,
.nav-tabs.nav-justified>.active>a,
.nav-tabs-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs-justified>.active>a:focus,
.nav-tabs.nav-justified>.active>a:focus {
    border: 0 !important;
}

.tabbable-panel {
    padding: 10px;
}

.tabbable-line {
    .nav-justified {
        li {
            top: 1px;
        }
    }
    .nav-tabs {
        border-bottom: 4px solid transparent;
        li {
            border-bottom: 2px solid transparent;
            a {
                border: 0 !important;
                margin: 0;
                background: none !important;
                padding: 10px 0;
                text-align: center;
            }
        }
        li.active {
            border-bottom: 2px solid $green !important;
            position: relative;
            a {
                border: 0 !important;
            }
        }
    }
    .tab-content {
        margin-top: -3px;
        border: 0;
        border-top: 1px solid $text-color;
        padding: 15px 0;
        p {
            font-weight: 500;
            line-height: 1.5;
            margin-left: 15px;
            font-size: 13px;
        }
        i {
            position: absolute;
            margin-top: 4px;
            color: $green
        }
    }
    .tab_nav_left {
        li {
            a {
                h4 {
                    line-height: 2.2;
                }
            }
        }
    }
}

.cont-selection {
    .product-image {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
        img,
        a,
        .slide a {
            display: block;
            width: 100%;
            height: 100%
        }
    }
    .product-overlay {
        position: absolute;
        width: 100%;
        height: 44px;
        line-height: 44px;
        top: auto;
        bottom: -44px;
        left: 0;
        z-index: 6;
        transition: bottom 0.3s ease-in-out;
        -o-transition: bottom 0.3s ease-in-out;
    }
    .product-overlay a {
        display: block;
        float: left;
        width: 50%;
        font-size: 13px;
        background-color: $light-gray;
        text-align: center;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
        font-weight: 500;
    }
    .product-overlay a.item-quick-view {
        border-right: 0
    }
    .product-overlay a i {
        position: relative;
        top: 1px;
        font-size: 14px;
        margin-right: 3px
    }
    .product-overlay a:hover {
        background-color: $green;
        border-color: $green;
        color: #FFF;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    body:not(.device-touch):not(.device-xs):not(.device-xxs) .product-overlay {
        -webkit-transition: bottom 0.3s ease-in-out;
        transition: bottom 0.3s ease-in-out;
    }
    body:not(.device-touch):not(.device-xs):not(.device-xxs) .product-overlay a {
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out
    }
    .product:hover .product-overlay {
        bottom: 0
    }
}

a {
    -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -ms-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}

.img-hover {
    opacity: 1;
    transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    &:hover {
        opacity: .8;
    }
}

footer {
    .fa-facebook,
    .fa-twitter,
    .fa-linkedin,
    .fa-youtube,
    .fa-instagram {
        padding: 11px;
        color: #FFF;
        border-radius: 10%;
    }
    .fa-facebook {
        background-color: #3B5998;
    }
    .fa-twitter {
        background-color: #1DA1F2;
    }
    .fa-linkedin {
        background-color: #0077B5;
    }
    .fa-youtube {
        background-color: #E62117;
    }
    .fa-instagram {
        background-color: #3F729B;
    }
}

// RAPPORT CAROUSEL
.carousel-fade {
    width: 90%;
    .carousel-inner {
        min-height: 200px;
        .item {
            transition-property: opacity;
        }
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }
        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }
        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
    .carousel-control {
        z-index: 2;
    }
    .carousel-indicators {
        background-color: $green;
        left: 0;
        position: absolute;
        margin: 0;
        width: 100%;
        padding: 0;
        text-align: center;
    }
}

.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}
