<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="EcoTree">
    <meta http-equiv="content-language" content="fr">
    <link rel="icon" type="image/x-icon" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/favicon.ico">
    <link rel="icon" sizes="32x32" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/32.png">
    <link rel="icon" sizes="76x76" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/76.png">
    <link rel="icon" sizes="96x96" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/96.png">
    <link rel="icon" sizes="128x128" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/128.png">
    <link rel="icon" sizes="144x144" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/144.png">
    <link rel="icon" sizes="180x180" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/180.png">
    <link rel="icon" sizes="196x196" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/196.png">
    <meta name="theme-color" content="#78A53B">
    <meta name="msapplication-navbutton-color" content="#78A53B">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-TileColor" content="#78A53B">
    <meta name="msapplication-TileImage" content="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/144.png">
    <link rel="shortcut icon" sizes="196x196" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/196.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/152.png">
    <meta property="og:url" content="https://ecotree.fr/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="EcoTree - Investissement vert" />
    <meta property="og:site_name" content="EcoTree" />
    <meta property="og:description" content="Devenez propriétaire de vos arbres et participez au rachat de votre dette carbone" />
    <meta property="og:image" content="https://d2omnifng3m7y7.cloudfront.net/img/fb.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:locale" content="fr_FR" />
    <meta name="description" content="Devenez propriétaire de votre arbre et participez au rachat de votre dette carbone">
    <meta name="description" content="Les enjeux de la forêt française et nos engagements">
    <title>EcoTree - Nos Forêts</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="" href="" id="header_logo"><img class="img img-responsive center-block" src="img/logo.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li class="">
                        <a class="" href="index.html">Acceuil</a>
                    </li>
                    <li>
                        <a class="" href="offres.html">Offres</a>
                    </li>
                    <li class="active">
                        <a class="" href="#">Nos Forêts</a>
                    </li>

                    <li>
                        <a class="" href="entreprises.html">Entreprises</a>
                    </li>
                    <li>
                        <a class="" href="">S'identifier</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid bg-foret">
        <div class="container">
            <h1 class="text-center fa-inverse">
                Nos forêts
            </h1>
        </div>
    </div>
    <div class="container-fluid text-center">
        <h2 class="text-success text-uppercase">
            Constats et enjeux
        </h2>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <i class="text-success lead  fa fa-battery-quarter col-xs-12" aria-hidden="true"></i>
                    <p class=" text-justify col-xs-12">Chaque année, entre 13 et 15 millions d'hectares de forêt disparaissent,
                        <smaill>(surface de la Belgique)</smaill>. La déforestation est à l’origine de 17% des émissions mondiales de gaz à effet de serre (source GIEC).
                    </p>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <i class="text-success lead fa fa-cloud col-xs-12" aria-hidden="true"></i>
                    <p class=" text-justify col-xs-12">Chaque année, 80 millions de tonnes de CO2 sont absorbées par la forêt française. Les coupes maintiennent les arbres dans une période de croissance qui optimise la captation de carbone.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <i class="text-success lead fa fa-life-ring col-xs-12" aria-hidden="true"></i>
                    <p class=" text-justify col-xs-12">La filière française de bois connait aujourd’hui un déficit alors même que la surface forestière en France est la 3ème des pays de l’Union Européenne et que la demande ne cesse d’augmenter.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <i class="text-success lead fa fa-wrench col-xs-12" aria-hidden="true"></i>
                    <p class=" text-justify col-xs-12">D'ici les dix prochaines années, la France devra avoir renouvelé 500 000 hectares de forêt, ce qui correspond à seulement 3 % de la surface totale actuelle, pour rattraper le retard déjà accumulé.
                    </p>
                </div>
            </div>
            <img class="img img-responsive center-block" src="img/enjeux.png" alt="">
        </div>
    </div>
    <div class="container-fluid text-center bg-clouds">
        <div class="gestion-durable-head">
            <h2 class="text-success text-uppercase">
                Une gestion durable de la forêt
            </h2>
            <h4 class="text-info">
                EcoTree privilégie la sylviculture dite « proche de la Nature »
            </h4>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h5 class=" text-center">
                        Nos engagements
                    </h5>
                    <div class="text-left col-xs-12">
                        <i class="fa fa-caret-right text-success" aria-hidden="true"></i>
                        <p class=" text-jusstify">Contribuer à la conservation et à la sauvegarde patrimoniale des forêts françaises existantes</p>
                        <br>
                        <i class="fa fa-caret-right text-success" aria-hidden="true"></i>
                        <p class=" text-jusstify">Participer à la reforestation des zones déboisées en France sur des terrains acquis en propre</p>
                        <br>
                        <i class="fa fa-caret-right text-success" aria-hidden="true"></i>
                        <p class=" text-jusstify">Gérer et entretenir l'ensemble de nos forêts par notre associé spécialisé dans la gestion forestière</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h5 class=" text-center">
                        Notre philosophie
                    </h5>
                    <div class="text-left col-xs-12">
                        <i class="fa fa-caret-right text-success" aria-hidden="true"></i>
                        <p class=" text-jusstify">Eviter la monoculture et favoriser les différentes classes d'âges au sein d'une même parcelle forestière</p>
                        <br>
                        <i class="fa fa-caret-right text-success" aria-hidden="true"></i>
                        <p class=" text-jusstify">Préférer la régénération naturelle à la coupe rase, en évitant une coupe brutale qui pourrait abimer nos sols forestiers</p>
                        <br>
                        <i class="fa fa-caret-right text-success" aria-hidden="true"></i>
                        <p class=" text-jusstify">Favoriser un mélange feuillu/résineux pour améliorer la biodiversité et permettre une meilleure résistance des arbres</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="les-forets-section">
        <div class="container-fluid">
            <h2 class="text-success text-center text-uppercase">Les forêts EcoTree</h2>
            <hr>
            <div class="container cont-les-forets">
                <div class="tabbable-panel">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active ">
                                <a href="#Coadou" data-toggle="tab">
                                    <h4 class="">Coadou</h4>
                                </a>
                            </li>
                            <li class="">
                                <a href="#Brokus" data-toggle="tab">
                                    <h4 class="">Brokus</h4>
                                </a>
                            </li>
                            <li class="">
                                <a href="#Bourrus" data-toggle="tab">
                                    <h4 class="">Bourrus</h4>
                                </a>
                            </li>
                            <li class="">
                                <a href="#Mevenez" data-toggle="tab">
                                    <h4 class="">Mevenez</h4>
                                </a>
                            </li>
                            <li class="">
                                <a href="#Mariaker" data-toggle="tab">
                                    <h4 class="">Mariaker</h4>
                                </a>
                            </li>
                            <li class="">
                                <a href="#Morvan" data-toggle="tab">
                                    <h4 class="">Morvan</h4>
                                </a>
                            </li>
                            <li class="">
                                <a href="#Kerautret" data-toggle="tab">
                                    <h4 class="">Kerautret</h4>
                                </a>
                            </li>
                            <li class="">
                                <a href="#Faigne" data-toggle="tab">
                                    <h4 class="">Faigne</h4>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content text-left">
                            <div class="tab-pane active fade in" id="Coadou">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                        <img src="img/coadou.jpg" alt="" class="img img-responsive">
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                        <h4 class=" text-left">
                                            La forêt de Coadou est située à proximité de Loguivy-Plougras, commune du Trégor située aux confins des Côtes-d’Armor et du Finistère.
                                        </h4>
                                        <span class=" text-justify">
                                            Non loin de la mythique forêt de Brocéliande, située au cœur d'une vallée verdoyante traversée par la rivière Saint Emilion, la forêt de Coadou s’est installée au pied de la commune de Loguivy-Plougras. Dispersés dans le sol, ses mythiques résineux, une essence bien connue de la région, qui prend racine dans le territoire celte depuis son introduction à grande échelle en Bretagne après la seconde guerre mondiale. Cette forêt pleine de mystère s'offre en un fabuleux voyage dans le temps, de la guerre des Gaules en passant par les épopées du roi Arthur.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="Brokus">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                        <img src="img/brokus.jpg" alt="" class="img img-responsive">
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                        <h4 class=" text-left">
                                            La forêt de Brokus est située dans le Morbihan, terre de légendes, d'abondance et de ressourcement.
                                        </h4>
                                        <span class=" text-justify">
                                            Il faut passer sous la fraicheur des larges branches alignées qui s’entrecroisent en voûte, guetter les mosaïques bleues qu’elles dessinent et passer, ça, là, le visage pour s’inonder des généreux rayons que la Bretagne sait offrir lorsqu’on la contemple. Il faut entendre aussi les craquements d’écorce, le frayement des abeilles, les effleurements des écureuils, la ritournelle des mouettes rieuses et des grives musiciennes. Il faut sentir encore les effluves des sèves, alchimie de parfums dont seule la nature connaît le secret. Dans la forêt de Brokus règne une sérénité qui choque l’idée de bruit, de monde et de vitesse. Le temps appartient à ceux qui s’en donnent, la contemplation suspend le temps ; et la forêt de Brokus semble être ce lieu désigné par Dieu pour l’illustrer.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="Bourrus">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                        <img src="img/bourrus.jpg" alt="" class="img img-responsive">
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                        <h4 class=" text-left">
                                            La forêt de Bourrus est située dans le Morbihan et plus exactement dans une petite commune de Langoëlan dont le nom chantant signifie, en breton, "près de la lande sauvage".
                                        </h4>
                                        <span class=" text-justify">
                                            Ce territoire arrosé par le Scorff et ses premiers affluents s'inscrit dans l'histoire et abrite un patrimoine unique en son genre. A quelques encablures de l'étang du Dordu et de l'église paroissiale de Saint Barnabé, au-devant du dolmen de la Villeneuve, du lavoir du bourg et du monument de Kergoët, s'enracinent, sous les stries d'une terre qui traverse les âges et les légendes, de jeunes plants qui s'ouvrent à la vie. Dans ce petit coin de paradis breton, on raconte que l'alliance d'une glèbe généreuse, d'un soleil joueur et d'une bruine farceuse offre des conditions exceptionnelles pour les boisements.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="Mevenez">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                        <img src="img/mevenez.jpg" alt="" class="img img-responsive">
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                        <h4 class=" text-left">
                                            La forêt de Mevenez, petit havre de paix perdu au milieu du Morbihan, déploie une flore et une faune aux richesses insoupçonnées.
                                        </h4>
                                        <span class=" text-justify">
                                            Les légendes qui racontent ce petit bout de terre ancré dans l’ancien royaume de Broërec sont nombreuses. Prénom féminin aux origines celtiques, Mevenez signifie joie. On dit aussi que toutes celles qui portent ce nom possèdent la faculté de découvrir l’âme des êtres et des choses. Est-ce à dire que pour trouver le bonheur ou pénétrer la métaphysique, un petit tour dans la forêt de Mevenez suffirait ? Une chose est sûre, il y a de la lumière dans cette futaie. Le jour au soleil, le soir aux lucioles, la nuit à la lune, tout semble éclairer cette forêt ; et par là-même, ceux qui, en quête de sens, s’y aventurent.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="Mariaker">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                        <img src="img/mariaker.jpg" alt="" class="img img-responsive">
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                        <h4 class=" text-left">
                                            La forêt de Mariaker se situe dans le Morbihan, sur des terres où se dessine entre rivières bleutées et rivages dorés une sylve foisonnante.
                                        </h4>
                                        <span class=" text-justify">
                                            Entrez discrètement dans ces bois profonds, ouvrez les yeux, prêtez l’oreille ; et soudain, une biche et son faon valsent à travers les taillis, le déboulé puissant d’un sanglier se fait entendre, un grand cerf surgit à l’orée, superbe et impétueux. Ici, chênes, châtaigniers, sapins, ifs et noisetiers se côtoient dans un foisonnement inextricable de verdure ; à leurs pieds, s’ouvrent à la vie jacinthes des bois, primevères, ails des ours ainsi qu’une multitude de champignons. A contempler ce spectacle grouillant de vie, comment ne pas se dire que la forêt est un état d’âme ?
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade in" id="Morvan">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                        <img src="img/morvan.jpg" alt="" class="img img-responsive">
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                        <h4 class=" text-left">
                                            La forêt du Morvan est située au Faouët, charmant territoire délimité par le cours du ruisseau du Moulin du Duc et par la rivière Inam.
                                        </h4>
                                        <span class=" text-justify">
                                            C’est au Pays de Morvan, premier Roi de la Bretagne unifiée qui résista victorieusement aux armées franques de Louis le Débonnaire que se situe la forêt du même nom. Est-ce de cette rude époque que les arbres ensilés au sol tiennent leur robustesse ? Châtaigniers, chênes et hêtres composent ce petit bout de terre. Et sans doute ont-ils été les objets d’inspiration des nombreux peintres, photographes français et étrangers qui firent du Faouët un des principaux centres artistiques de la Bretagne intérieure. Qui mieux que la nature sait allier les couleurs et la matière ?
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="Kerautret">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                        <img src="img/kerautret.jpg" alt="" class="img img-responsive">
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                        <h4 class=" text-left">
                                            La forêt de Kerautret est située au lieu-dit Le Golo, à quelques encablures de Plouray et des bassins versants de l'Ellé et de l'Aër.
                                        </h4>
                                        <span class=" text-justify">
                                            Au confluent de Plouray, Langonnet, Saint-Tugdual, Priziac et Le Croisty s’élève la forêt de Kerautret. Au milieu d’arbres centenaires, de jeunes plants d’épicéas de Sitka viennent d’y prendre pied et s’égayent désormais dans ce lieu de vie qui ouvre un nouveau cycle. Etymologiquement, le nom Kerautret pourrait se traduire par « village du dénommé Autret, signifiant à l'origine l'ami utile ». Qu’y a-t-il en effet de plus utile qu’une forêt ? Venez-y respirer la chlorophylle et l’iode, cette forêt est votre alliée.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="Faigne">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                        <img src="img/faigne.jpg" alt="" class="img img-responsive">
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                        <h4 class=" text-left">
                                            La forêt de la Faigne est située à proximité de la commune de Pontvallain, commune de la Sarthe connue pour ses vestiges féodaux.
                                        </h4>
                                        <span class=" text-justify">
                                            Cette forêt de jeunes plants a pris terre aux alentours de ce qui fut le Château de la Faigne et non loin de la chapelle Notre-Dame de la Faigne, très ancien lieu de pèlerinage construit à l’emplacement d’un arbre qui accueillit plusieurs apparitions mariales. Lieu historique s’il en est, la commune de Pontvallain porte le nom d’une victoire de l’armée française menée par le connétable de France Bertrand Du Guesclin contre les Anglais, le 4 décembre 1370, pendant la guerre de Cent Ans. A la croisée de l’Histoire, de la nature et du spirituel, c’est dans un terreau fertile que les jeunent plants de la forêt de la Faigne prennent racine.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container-fluid">
            <div class="container">
                <row>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="loc">EcoTree<br>23 rue d’Estienne d’Orves<br>29480 Le Relecq-Kerhuon</div>
                            <hr>
                            <div class="coord"><i class="fa fa-phone" aria-hidden="true"></i> +33 6 98 00 88 45<br><i class="fa fa-envelope-o" aria-hidden="true"></i> contact@ecotree.fr</div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="qui-sommes-nous.html">Qui sommes nous ?</a>
                            <br>
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a id="mid" href="">Nos partenaires</a>
                            <br>
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="">Actualités</a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="">Foire aux questions</a>
                            <br>
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a id="mid" href="">Mention légales</a>
                            <br>
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="">Conditions générales de vente</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                        <div class="col-xs-5ths col-sm-5ths col-md-5ths col-lg-5ths"><a href="" id="fb"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-5ths col-sm-5ths col-md-5ths col-lg-5ths"><a href="" id="tw"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-5ths col-sm-5ths col-md-5ths col-lg-5ths"><a href="" id="lk"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-5ths col-sm-5ths col-md-5ths col-lg-5ths"><a href="" id="yt"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-5ths col-sm-5ths col-md-5ths col-lg-5ths"><a href="" id="insta"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
                        </div>
                    </div>

                </row>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->

    <script src="js/scrolling-nav.js"></script>
</body>

</html>
