<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="EcoTree">
    <meta http-equiv="content-language" content="fr">
    <link rel="icon" type="image/x-icon" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/favicon.ico">
    <link rel="icon" sizes="32x32" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/32.png">
    <link rel="icon" sizes="76x76" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/76.png">
    <link rel="icon" sizes="96x96" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/96.png">
    <link rel="icon" sizes="128x128" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/128.png">
    <link rel="icon" sizes="144x144" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/144.png">
    <link rel="icon" sizes="180x180" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/180.png">
    <link rel="icon" sizes="196x196" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/196.png">
    <meta name="theme-color" content="#78A53B">
    <meta name="msapplication-navbutton-color" content="#78A53B">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-TileColor" content="#78A53B">
    <meta name="msapplication-TileImage" content="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/144.png">
    <link rel="shortcut icon" sizes="196x196" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/196.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/152.png">
    <meta property="og:url" content="https://ecotree.fr/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="EcoTree - Investissement vert" />
    <meta property="og:site_name" content="EcoTree" />
    <meta property="og:description" content="Devenez propriétaire de vos arbres et participez au rachat de votre dette carbone" />
    <meta property="og:image" content="https://d2omnifng3m7y7.cloudfront.net/img/fb.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:locale" content="fr_FR" />
    <meta name="description" content="Connectez-vous ou créez un compte EcoTree">
    <title>EcoTree - Identification</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="" href="#" id="header_logo"><img class="img img-responsive center-block" src="img/logo.png" alt=""></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="" href="index.html">Acceuil</a>
                    </li>
                    <li>
                        <a class="" href="offres.html">Offres</a>
                    </li>
                    <li>
                        <a class="" href="entreprises.html">Entreprises</a>
                    </li>
                    <li>
                        <a class="" href="forets.html">Nos Forêts</a>
                    </li>
                    <li>
                        <a class="" href="identification.html">S'identifier</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-9">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 fa-inverse">
                            <div class="loc">EcoTree<br>23 rue d’Estienne d’Orves<br>29480 Le Relecq-Kerhuon</div>
                            <div class="coord"><i class="fa fa-phone" aria-hidden="true"></i> +33 6 98 00 88 45<br><i class="fa fa-envelope-o" aria-hidden="true"></i> contact@ecotree.fr</div>
                        </div>
                        <div class="col-xs-6 col-sm-8">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <i class="fa fa-angle-double-right fa-inverse" aria-hidden="true"></i> <a class="fa-inverse" href="qui-sommes-nous.html">Qui sommes nous ?</a>
                                    <br>
                                    <i class="fa fa-angle-double-right fa-inverse" aria-hidden="true"></i> <a class="fa-inverse" href="">Nos partenaires</a>
                                    <br>
                                    <i class="fa fa-angle-double-right fa-inverse" aria-hidden="true"></i> <a class="fa-inverse" href="">Actualités</a>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <i class="fa fa-angle-double-right fa-inverse" aria-hidden="true"></i> <a class="fa-inverse" href="">Foire aux questions</a>
                                    <br>
                                    <i class="fa fa-angle-double-right fa-inverse" aria-hidden="true"></i> <a class="fa-inverse" href="mentions-legales.html">Mention légales</a>
                                    <br>
                                    <i class="fa fa-angle-double-right fa-inverse" aria-hidden="true"></i> <a class="fa-inverse" href="conditions-generales.html">Conditions générales de vente</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="row text-center">
                        <div class="col-xs-5ths"><a class="fa-inverse" href=""><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-5ths"><a class="fa-inverse" href=""><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-5ths"><a class="fa-inverse" href=""><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-5ths"><a class="fa-inverse" href=""><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-5ths"><a class="fa-inverse" href=""><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js "></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js "></script>

    <!-- Scrolling Nav JavaScript -->

    <script src="js/scrolling-nav.js "></script>
</body>

</html>
