<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="EcoTree">
    <meta http-equiv="content-language" content="fr">
    <link rel="icon" type="image/x-icon" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/favicon.ico">
    <link rel="icon" sizes="32x32" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/32.png">
    <link rel="icon" sizes="76x76" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/76.png">
    <link rel="icon" sizes="96x96" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/96.png">
    <link rel="icon" sizes="128x128" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/128.png">
    <link rel="icon" sizes="144x144" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/144.png">
    <link rel="icon" sizes="180x180" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/180.png">
    <link rel="icon" sizes="196x196" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/196.png">
    <meta name="theme-color" content="#78A53B">
    <meta name="msapplication-navbutton-color" content="#78A53B">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-TileColor" content="#78A53B">
    <meta name="msapplication-TileImage" content="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/144.png">
    <link rel="shortcut icon" sizes="196x196" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/196.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://d2omnifng3m7y7.cloudfront.net/img/icon/meta/152.png">
    <meta property="og:url" content="https://ecotree.fr/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="EcoTree - Investissement vert" />
    <meta property="og:site_name" content="EcoTree" />
    <meta property="og:description" content="Devenez propriétaire de vos arbres et participez au rachat de votre dette carbone" />
    <meta property="og:image" content="https://d2omnifng3m7y7.cloudfront.net/img/fb.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:locale" content="fr_FR" />
    <meta name="description" content="Devenez propriétaire de votre arbre et participez au rachat de votre dette carbone">
    <title>EcoTree - Qui sommes-nous ?</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="" href="" id="header_logo"><img class="img img-responsive center-block" src="img/logo.png" alt=""></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a class="" href="index.html">Acceuil</a>
                    </li>
                    <li>
                        <a class="" href="offres.html">Offres</a>
                    </li>
                    <li class="">
                        <a class="" href="#">Nos Forêts</a>
                    </li>

                    <li>
                        <a class="" href="entreprises.html">Entreprises</a>
                    </li>
                    <li>
                        <a class="" href="">S'identifier</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid bg-foret">
        <div class="container">
            <h2 class="text-center text-white text-uppercase">
                Qui-sommes nous ?
            </h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row text-center">
                <h3 class="text-info center-block text-uppercase">
                    <small>
                <b>EcoTree</b> est une société spécialisée dans le développement durable dont l’objet est de récompenser de façon innovante la <b>conscience écologique</b> en offrant des solutions rentables d’investissement dans la <b>plantation d’arbres</b>
                </small>
                </h3>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <img src="img/fabrique_aviva.jpg" alt="" class="center-block img img-responsive">
                    <a href="">
                        <h5 class="center-block text-success">Lauréat du concours 2016 de la Fabrique Aviva</h5>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <img src="img/hello_startup.jpg" alt="" class="center-block img img-responsive">
                    <a href="">
                        <h5 class="center-block text-success">Lauréat de l'émission au service des entrepreneurs innovants</h5>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <img src="img/bpi_france.jpg" alt="" class="center-block img img-responsive">
                    <a href="">
                        <h5 class="center-block text-success">Soutenu par la BPI dans le cadre de l’aide à l’innovation</h5>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <img src="img/crisalide_eco_activites.jpg" alt="" class="center-block img img-responsive">
                    <a href="">
                        <h5 class="center-block text-success">Lauréat 2017 du Trophée innovation sociale et nouveau business model</h5>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <img src="img/sncf_reseau.jpg" alt="" class="center-block img img-responsive">
                    <a href="">
                        <h5 class="center-block text-success">Entrepreneur soutenu par SNCF Développement</h5>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <img src="img/candidat_bfm_academie.jpg" alt="" class="center-block img img-responsive">
                    <a href="">
                        <h5 class="center-block text-success">Candidat BFM Académie</h5>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <img src="img/les10commandements.jpg" alt="" class="center-block img img-responsive">
                    <a href="">
                        <h5 class="center-block text-success">Lauréat du concours du 11<sup>ème</sup> commandement de l'entrepreneur de BFM Business</h5>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <img src="img/startup_corner.png" alt="" class="center-block img img-responsive">
                    <a href="">
                        <h5 class="center-block text-success">Prix du Jury du Start-Up Corner 2017</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="text-success text-center text-uppercase">Nos valeurs</h2>
        <hr class="separator">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h5 class="text-uppercase"><i class="text-success fa fa-home" aria-hidden="true"></i> <b>Humanité</b></h5>
                <p class="text-justify ">
                    Notre aventure n’a de sens que parce qu’elle s’appuie sur l’humain. Au sein de nos équipes, avec nos interlocuteurs, nous plaçons le capital humain au cœur de notre création de valeur. Nous développons chaque jour un peu plus un écosystème bienveillant et de liberté où chacun interagit en conscience et en confiance.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h5 class="text-uppercase"><i class="text-success fa fa-lightbulb-o" aria-hidden="true"></i> <b>Audace</b></h5>
                <p class="text-justify ">
                    Aucune idée n’est mauvaise. Nous avons tous le droit à l’erreur. Regarder chuter une pomme peut réveiller un génie et engendrer une théorie des plus incroyables. Nous osons, nous nous entrainons dans le dépassement de nos objectifs et nous renforçons ainsi la résilience, l’agilité et l’efficience collective d’EcoTree.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h5 class="text-uppercase"><i class="text-success fa fa-flash" aria-hidden="true"></i> <b>Exigence</b></h5>
                <p class="text-justify ">
                    A notre originalité, nous conjuguons l’exigence. Nous travaillons sans cesse à notre amélioration. Nous sommes preneurs de tous les conseils, nous accueillons les critiques, nous nous remettons en question. Nous développons des méthodes rigoureuses au service de nos clients et de leur entière satisfaction.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h5 class="text-uppercase"><i class="text-success fa fa-star-o" aria-hidden="true"></i> <b>Franchise</b></h5>
                <p class="text-justify ">
                    Notre exigence de l’excellence implique loyauté et intégrité. Nous refusons les faux-semblants, les arrangements avec la vérité, les compromissions au nom de la performance économique. Nous ne faisons que ce que nous savons faire, avec le souci du travail bien fait et la volonté de servir un idéal noble et ambitieux.
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-clouds">
        <h2 class="text-success text-center text-uppercase">Notre equipe</h2>
        <hr class="separator">
        <div class="container cont-les-forets">
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active ">
                            <a href="#forestier" data-toggle="tab">
                                <h4 class="">Le forestier</h4>
                            </a>
                        </li>
                        <li class="">
                            <a href="#financier" data-toggle="tab">
                                <h4 class="">Le financier</h4>
                            </a>
                        </li>
                        <li class="">
                            <a href="#commercial" data-toggle="tab">
                                <h4 class="">Le commercial</h4>
                            </a>
                        </li>
                        <li class="">
                            <a href="#developpeur" data-toggle="tab">
                                <h4 class="">Le développeur</h4>
                            </a>
                        </li>
                        <li class="">
                            <a href="#communicant" data-toggle="tab">
                                <h4 class="">Le communicant</h4>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content text-left">
                        <div class="tab-pane active fade in" id="forestier">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3"><img src="img/v.jpg" alt="" class="img img-responsive"></div>
                                <div class="col-xs-12 col-sm-9">
                                    <p class=" text-justify">
                                        Vianney est diplomé d’un master 2 en sciences politiques et relations internationales à l’ICES. Il décide ensuite de revenir vers sa passion première et entame un BTS en gestion forestière au CNPR qu’il obtient avec mention. Entrepreneur, il créé son entreprise de travaux et gestion de forêts dont il est gérant depuis 7 ans. Membre fondateur d'EcoTree, Vianney a toujours eu à cœur d’associer les problématiques forestières et l'entrepreneuriat éco-responsable. Il est en charge de la stratégie forestière (choix des forêts, plans de gestion, relations avec le milieu du bois) ainsi que de l'exploitation (boisement, entretien...) des forêts EcoTree.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="financier">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3"><img src="img/e1.jpg" alt="" class="img img-responsive"></div>
                                <div class="col-xs-12 col-sm-9">
                                    <p class=" text-justify">
                                        Erwan est ingénieur de formation (IPSA), un parcours qu’il a complété par un master en administration des entreprises (IAE de Paris). Après 8 années passées dans le secteur bancaire à mener des projets stratégiques, à transformer les organisations et à conduire des opérations de fusions-acquisitions, il cofonde la startup EcoTree et apporte sa rigueur et sa méthodologie dans la conduite et la gestion d’une entreprise. Initiateur du projet, il impulse les grandes orientations et définit la trajectoire pour permettre à EcoTree de proposer les meilleures solutions en matière d’innovation dans le développement durable et de rentabilité financière.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="commercial">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3"><img src="img/b1.jpg" alt="" class="img img-responsive"></div>
                                <div class="col-xs-12 col-sm-9">
                                    <p class=" text-justify">
                                        Baudouin est titulaire d’un diplôme d’école de commerce SKEMA BUSINESS SCHOOL et d’une certification en finance d’entreprise à HEC. Il a travaillé pendant 8 ans dans le conseil en accompagnant ses clients à transformer leurs organisations, à bâtir des schémas directeurs et à mettre en place leur gouvernance afin d’améliorer leur efficacité opérationnelle. Fasciné depuis longtemps par le défi entrepreneurial il se lance dans EcoTree en tant que membre fondateur. Coordinateur de talent, il s'occupe de la stratégie de vente et des fonctions support.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="developpeur">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3"><img src="img/a1.jpg" alt="" class="img img-responsive"></div>
                                <div class="col-xs-12 col-sm-9">
                                    <p class=" text-justify">
                                        Alban est expert en informatique et systèmes d'information (mention études et développement), major de promotion de l'EPSI PARIS. Après avoir travaillé comme assistant chef de projet et développé un site e-commerce pour une marque de prêt-à-porter, il fonde une start-up spécialisée dans le e-learning. Sa casquette de directeur technique lui permet de maîtriser l'architecture du systèmes d'information grâce à une excellente connaissance des solutions de cloud computing. Il s'occupe du développement informatique, de l'infrastructure, du référencement et de la mise en place des outils de travail de l'équipe.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="communicant">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3"><img src="img/t.jpg" alt="" class="img img-responsive"></div>
                                <div class="col-xs-12 col-sm-9">
                                    <p class=" text-justify">
                                        Théo est diplômé d’un troisième cycle recherche en droit public européen comparé de l’Université de la Sorbonne et d’un MBA en management des projets internationaux de l’Institut d’administration des entreprises de Paris (IAE). Après quelques années passées en cabinet d’affaires publiques et de lobbying, il fonde un cabinet de communication et d’influence. La même année, il rejoint l’aventure en tant que cofondateur. Il a à cœur de communiquer sur le projet dans son ensemble mais aussi sur les initiatives des entreprises qui ont adopté la solution EcoTree. Théo est également contributeur au Figaro Histoire, Figaro Vox et au mensuel Causeur. Il est membre du Cercle Charles Péguy et des Dialogues du Cercle Hippocrate.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="container">
                <row>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="loc">EcoTree<br>23 rue d’Estienne d’Orves<br>29480 Le Relecq-Kerhuon</div>
                            <hr>
                            <div class="coord"><i class="fa fa-phone" aria-hidden="true"></i> +33 6 98 00 88 45<br><i class="fa fa-envelope-o" aria-hidden="true"></i> contact@ecotree.fr</div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="">Qui sommes nous ?</a>
                            <br>
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a id="mid" href="">Nos partenaires</a>
                            <br>
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="">Actualités</a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="">Foire aux questions</a>
                            <br>
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a id="mid" href="">Mention légales</a>
                            <br>
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="">Conditions générales de vente</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                        <div class="col-xs-5ths col-sm-5ths col-md-5ths col-lg-5ths"><a href="" id="fb"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-5ths col-sm-5ths col-md-5ths col-lg-5ths"><a href="" id="tw"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-5ths col-sm-5ths col-md-5ths col-lg-5ths"><a href="" id="lk"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-5ths col-sm-5ths col-md-5ths col-lg-5ths"><a href="" id="yt"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-5ths col-sm-5ths col-md-5ths col-lg-5ths"><a href="" id="insta"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
                        </div>
                    </div>

                </row>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->

    <script src="js/scrolling-nav.js"></script>
</body>

</html>
